* {
    box-sizing: border-box;
}

body {
    background-color: #E3E7E8;
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

.Container {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .Container {
        padding: 0 10px;
    }
}